# Project exclude paths
/.gradle/
/Flashcards (Kotlin)/task/build/
/Flashcards (Kotlin)/task/out/
/Flashcards (Kotlin)/task/out/production/classes/
/Topics/Mutable Map/Exam marks/out/
/Topics/Mutable Map/Exam marks/out/production/classes/